[submodule "vimfiles/pack/airblade/start/vim-gitgutter"]
	path = vimfiles/pack/airblade/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vimfiles/pack/ervandew/start/supertab"]
	path = vimfiles/pack/ervandew/start/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vimfiles/pack/plugins/start/kotlin-vim"]
	path = vimfiles/pack/plugins/start/kotlin-vim
	url = https://github.com/udalov/kotlin-vim.git
